spring:
  application:
    name: TASK-SERVICE

  datasource:
    url: jdbc:h2:mem:devdb
    username: root
    password: root
  h2:
    console:
      enabled: true

server:
  port: 8082

#  jpa:
#    hibernate:
#      ddl-auto: update
#    show-sql: true
#    properties:
#      hibernate:

#        format_sql: true